@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.back-main{
    padding-top: 100px;
    margin-left: 50px;
}
.back-main a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
.back-main a i{
    transition: 1s;
}
.back-main a:hover i{
    transform: translateX(-8px);
}
  .education{
    width: 100%;
    min-height: 70vh;
    align-items: center;
    padding: 0 6% 0 6%;
    position: relative;
    margin-top: 50px;
  }
  .e-head {
    color: var(--primary-color);
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
  }
  .e-head span{
    color: var(--secondary-color);
  }
  .e-head i{
    margin-right: 8px;
  }
  .education-contain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .education-contain li {
    background-color: transparent;
    padding: 8%;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 1px 1px 20px 10px rgb(14, 14, 102, 0.3);
  }
  .e-field {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 5px;
  }
  .e-field i {
    margin-right: 5px;
  }
  .e-school,
  .e-mark,
  .e-year {
    color: var(--moreEd-color);
  }
  .experience{
    width: 100%;
    min-height: 90vh;
    align-items: center;
    padding: 0 6%;
    position: relative;
  }
  .experience-contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .exp-1,
  .exp-2 {
    background-color: transparent;
    padding: 6%;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: justify;
    transition: 0.3s;
    box-shadow: 1px 1px 20px 10px rgb(14, 14, 102, 0.3);
  }
  .exp-1 p,
  .exp-2 p {
    margin-top: 10px;
  }
  .position {
    margin-top: 4px;
    font-weight: 600;
    font-size: 24px;
  }
  .achievements{
    width: 100%;
    min-height: 80vh;
    align-items: center;
    padding: 0 6%;
    position: relative;
  }
  .achievement-contain {
    background-color: transparent;
    padding: 6%;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: justify;
    transition: 0.3s;
    box-shadow: 1px 1px 20px 10px rgb(14, 14, 102, 0.3);
  }
  .achievement-contain div {
    margin-bottom: 10px;
    text-align: justify;
  }
  .achievement-contain div i {
    margin-right: 20px;
  }

  @media (max-width: 700px){
    .education-contain {
      grid-template-columns: repeat(2, 1fr);
    }
    .e-3{
      grid-column:  span 2;
    }
    .education{
      min-height: 90vh;
    }
    .e-head {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
  @media (max-width: 570px){
    .experience-contain{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
  @media (max-width: 420px){
    .education-contain {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }
    .experience-contain{
      grid-gap: 10px;
    }
    .e-3{
      grid-column:  span 1;
    }
    .back-main{
      margin-left: 10px;
    }
    .e-head {
      font-size: 26px;
      font-weight: 400;
    }
  }